<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 52 %>
  	<%= link_to @user.name, @user %>
      </h1>
    </section>
  </aside>
</div>

<% if current_user.admin? %>
      <%= render @user.volunteer_app %>
<% else %>
<div class = "center">
    <section>
        <% if @user.volunteer_app %>
          <h1>Status: <%= @user.volunteer_app.status %></h1>
          <h3>Basic Application</h3>
            <p>
              <strong>First Name:<strong>
              <%= @user.volunteer_app.first_name %>
            </p>

            <p>
              <strong>Last Name:<strong>
              <%= @user.volunteer_app.last_name %>
            </p>

            <p>
              <strong>Phone Number:<strong>
              <%= @user.volunteer_app.phone_number %>
            </p>

            <p>
              <strong>Skype Name:<strong>
              <%= @user.volunteer_app.skype_name %>
            </p>
          <% if @user.id == current_user.id && @user.volunteer_app.status == "Pending Review"%>
      	    <%= link_to "Edit Application", edit_app_path(@user), class: "btn btn-large btn-primary" %>
          <% end %>  
        <% else  %>
          <% if @user.id == current_user.id %>
      	    <%= link_to "Begin Application", apply_path(@user), class: "btn btn-large btn-primary" %>
          <% else %>
            Application Not Yet Started
          <% end %>
        <% end %>
    </section>
  </div>
<% end %>
