<% provide(:title, @project.name) %>

<h1><%= @project.name %></h1>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Project Description:
      </h1>
      <%= @project.description %>  
      <h1><br><br>
        Project Administrator:
      </h1>  
      <%= link_to @admin.name, @admin %>
    </section>

    <section>
   
    <% if !member_of? && !requested? && current_user.id != @project.admin_id %>
      <%= link_to "Request to join this project", project_join_path(@project) %>
    <% end %>   
    <% if requested? %>
      You have requested to join this project. Please wait for the project administrator to process your request.
    <% end %>
    <% if member_of? || current_user.id == @project.admin_id%>
      You are currently a member of this project. 
      <%= link_to "Leave project", project_unjoin_path(@project) %>
    </section>
    
    <% if current_user.id == @project.admin_id %>
    <section>
      You are the administrator of this project.
      <%= link_to "View join requests", project_view_requests_path(@project) %>
    </section>
    <% end %>

    <section>
      <%= render 'shared/post_form' %>
    </section>
   
  </aside>

  <div class="span8">
    <% if member_of? %>
    <% if @project.posts.any? %>
      <h3>News and Updates (<%= @project.posts.count %>)</h3>
      <ol class="microposts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% else %>
      <h3>No News or Updates</h3>
    <% end %>
    <% else %>
      <p>You must be a member of this group to see news and updates</p>
    <% end %>
  <% end %>
  </div>
</div>

