<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "America Solidaria", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li id = "USERNAME"><%= link_to current_user.name, user_path(current_user.id)%></li>

          <% if current_user.admin? || current_user.volunteer_app %>
          <% if current_user.admin? || current_user.volunteer_app.status == "Accepted" %> 
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Projects <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Projects", user_my_projects_path(current_user.id) %></li>
                <li><%= link_to "Projects List", projects_path %></li>
              </ul>
          <% end %>
          <% end %>

            <% if current_user.admin? %>
              <li><%= link_to "Applications", volunteer_apps_path %></li>
              <li><%= link_to "Users", users_path %></li>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Chatrooms <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Admin Chat", admin_chat_path(current_user.id) %></li>
                  <li><%= link_to "Public Chat", public_chat_path(current_user.id) %></li>
	        </ul>
            <% else %>
                  <li><%= link_to "Public Chat", public_chat_path(current_user.id) %></li>
	    <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
